/* 
    Color palette used for the web app :
      #e9ecef -- Bg for most of the pages
      #343a40 -- Input bg for the login fields
      aliceblue -- Alot of the text on the darker backgrounds
      #559eff -- The active element color for the poll view
      #1b1b1b -- Bg for some elements
      Red & White for misc elements
*/
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Bold.ttf);
}

body {
  font-family: "Lato", sans-serif !important;
}

/* Curved Button */
.curved-button {
  border-radius: 20px;
}

.admin_main_display {
  padding-top: 100px;
}

.admin_table {
  padding-top: 100px;
}

/* Admin NavBar */
.navbar {
  background: #1b1b1b !important;
}

.navbar-brand {
  font-size: 20px;
}

/* Admin SideBar */
.sidebar {
  position: fixed;
  margin-top: 50px;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  background: #343a40 !important;
}

.sidebar-vote {
  position: fixed;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  background: #1b1b1b !important;
}

.flex-column {
  margin-top: 25px;
}

.sidebar a {
  margin: 7px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(0, 151, 252) !important;
}

/* Poll View CSS */

.jumbotron {
  padding-left: 320px;
  background-color: white;
}

.poll_candidate {
  margin-top: -3%;
  margin-left: 320px;
  width: 700px;
}

.submit_vote {
  padding-top: 100px;
  margin-left: 400px;
}

.candidate_wrap {
  width: 500px;
}

.committee_names {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 30px;
  color: aliceblue;
}

.input-group-text {
  background-color: white;
  border-radius: 100px;
  width: 200px;
}

.select_style {
  font-size: 20px;
  width: 0px;
}

.active {
  color: #559eff;
}

/* Common Usage */
.nav-shadow {
  -webkit-box-shadow: 8px 10px 12px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 10px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 8px 10px 12px 0px rgba(0, 0, 0, 0.2);
}

.btn_placement {
  margin-top: 30px;
}

.login-button {
  margin-top: 10px;
  width: 100px;
}

.button-loading-icon {
  margin: 0 auto;
}

.input_style {
  width: 400px;
}

.helper_text {
  padding: 10px;
  font-size: 14px;
  color: red;
}

.batch-select {
  width: 500px !important;
}

.active-nav-item {
  color: #0069d9;
}

.righted {
  margin-right: 10px;
}

.help-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
